<!DOCTYPE html>
<html data-ng-app="customerTracker">

<head>
	<title>CustomerTracker</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="An app that lets you manage customer contact information.">
	<meta name="author" content="Kevin King">
	
	<!-- stylesheets -->
	<link rel="stylesheet" href="styles/index.css">
	<link rel="stylesheet" href="scripts/vendors/bootstrap.min.css">
</head>

<body data-load-contacts="">

	<div class="container">

		<header class="row header">
			<div class="col-md-6 col-md-offset-3">
				<h1>Customer<strong>Tracker</strong></h1>
			</div>
		</header>
		
		<div class="main">
			
			<div class="topbar row">
			
				<div class="searchbar col-md-3">
					<input class="col-md-12 form-control" placeholder="Search" data-ng-model="name">
				</div>
				
				<div class="buttonbar col-md-9">
					<div class="buttonbar-buttongroup pull-left btn-group">
						<a class="buttonbar-button btn btn-primary" href="#/">List Customer</a>
						<a class="buttonbar-button btn btn-default" href="#/updateCustomer">Update Customer</a>
					</div>
					
					<div class="buttonbar-buttongroup pull-right btn-group">
						<a class="buttonbar-button btn btn-success" href="#/addCustomer">Add Customer</a>
						<button class="buttonbar-button btn btn-danger" data-ng-controller="ListController" data-ng-click="deleteCustomer()">Delete Customer</button>
					</div>
				</div>
				
			</div>
			
			<div class="bottombar row">
			
				<div class="customerlist col-md-3">
					<div class="" data-ng-include="'CustomerList.html'" data-ng-controller="CustomerListController"></div>
				</div>
				
				<div class="viewarea col-md-9 well">
					<div class="" data-ng-view=""></div>
				</div>
				
			</div>
				
		</div>	
	
	</div>
	
	
	
	
	
	
	<!-- vendors -->
	<script src="scripts/vendors/angular.min.js"></script>
	<script src="scripts/vendors/angular-route.min.js"></script>
	
	<!-- scripts -->
	<script src="scripts/app.js"></script>
	<script src="scripts/Customer.js"></script>
	
	<script src="scripts/directives/LoadContacts.js"></script>
	
	<script src="scripts/controllers/CustomerListController.js"></script>
	<script src="scripts/controllers/ListController.js"></script>
	<script src="scripts/controllers/AddController.js"></script>
	<script src="scripts/controllers/DeleteController.js"></script>
	<script src="scripts/controllers/UpdateController.js"></script>
	
	<script src="scripts/services/SelectedCustomerService.js"></script>
	
	
</body>

</html>